//forms

input[type="checkbox"] {
	display: none;
	+ .checkbox {
		padding-left: 13px;
		background: transparent url(../img/checkbox.png) no-repeat scroll -70px 3px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	&:checked {
		+ .checkbox {
			background-position: -50px -17px;
		}
	}
}


